<div class="main top-main">
  <div class="top-message">
    <h2>ゴルファー同士が気軽に繋がるSNS</h2>
    <p>今日はどこに行こうか</p>
  </div>
<%= link_to 'login',new_user_session_path %>
<%= link_to 'signup',new_user_registration_path %>
</div>