<div class="main top-main">
  <div class="top-message">
    <h2>ゴルファー同士が気軽に繋がるSNS</h2>
    <p>今日はどこに行こうか</p>
  </div>
  <%= form_for(resource, url: top_path) do |f| %>
  <%= f.email_field :email, autofocus: true %>
  <%= f.password_field :password %>
  <%= f.button 'ログイン' , type: 'submit'%>
  <% end %>       
</div>