<div class="about-main">
  <div>
  <ul class="nav nav-tabs" role="tablist">
    <li class="active" role="presentation">
      <a aria-controls="tab_a" data-toggle="tab" href="#tab_a" role="tab">コース場</a>
    </li>
    <li role="presentation">
      <a aria-controls="tab_b" data-toggle="tab" href="#tab_b" role="tab">練習場</a>
    </li>
    <li role="presentation">
      <a aria-controls="tab_c" data-toggle="tab" href="#tab_c" role="tab">ゴルフショップ</a>
    </li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="tab_a" role="tabpanel">
      <p>
        
      </p>
    </div>
    <div class="tab-pane" id="tab_b" role="tabpanel">
      <p>
        
      </p>
    </div>
    <div class="tab-pane" id="tab_c" role="tabpanel">
      <p>

      </p>
    </div>
  </div>
</div>
</div>