<div class="row">
  <div class="col-md-6">
    <h2>aboutページはこちら</h2>
  </div>

  <div class="col-md-6">
    <%= link_to 'home', '/' %>
  </div>
</div>

<div class="row">
    <div class="col-md-4">
      <p>SNS時代に生きるゴルファーの為のサイト</p>
      <p></p>
      <p></p>
      <p></p>
    </div>
</div>