<div class="row">
  <div class="col-md-6">
    <h2>SNS時代に生きるゴルファーの為のサイト</h2>
  </div>

  <div class="col-md-6">
    <%= link_to 'さあ、はじめてみよう', '/users/sign_up' %>
  </div>
</div>

<div class="row">
    <div class="col-md-4">
      <p>厳選されたコース場/練習場/ゴルフショップの中から</p>
      <p>お気に入りの場所を見つけて</p>
      <p>仲間を見つけよう</p>
      <p>さあ、今日はどこに行こうか？</p>
    </div>
</div>